body
{
    background-color: #f0ffff;
    width: 50%;
    margin: auto;
}

.sikertelen
{
    float: left;
    width: 200px;
    border: 4px solid #ff0000;
    padding: 20px;
    border-radius: 15px;
    
}

.sikeres
{
    float: right;
    width: 200px;
    border: 4px solid #008000;
    padding: 20px;
    border-radius: 15px;
    
}

.ballista
{
    list-style-image: url(../resources/img/icon_bad.png);
}

.jobblista
{
    list-style-image: url(../resources/img/icon_good.png);
}