body
{
    background-color: #f0ffff;
    width: 37%;
    margin: auto;
    margin-top: 100px;
}

.sikertelen
{
    float: left;
    width: 205px;
    border: 3px solid #ff0000;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 3px 3px 8px #ff0000;
}

.sikeres
{
    float: right;
    width: 200px;
    border: 3px solid #008000;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 3px 3px 8px #019001;
}

.ballista
{
    list-style-image: url(../resources/img/icon_bad.png);
}

.jobblista
{
    list-style-image: url(../resources/img/icon_good.png);
}

.nyilakdiv
{
    position: relative;
}

.nyilak
{
    width: 172px;
    height: 125px;
    position: absolute; top: 270px; left: 272px;
    
}

.kekdiv>p
{
    background-color: #0000ff;
    color: #edf800;
    width: 252px;
    text-align: center;
    font-weight: bold;
    height: 28px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 15px;
    position: absolute;
    box-shadow: 9px 9px 6px #a0a0a0;
    transform: rotate(6deg);
    margin-left: 211px;
    margin-top: 399px;
}